  <!--<li class="nav-item active">-->
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
  <!--</li>-->
  <% if current_user %>
  <!--<li class="nav-item">-->
    <%= link_to "Canaries", canaries_path, class: "nav-link" %>
  <!--</li>-->
  <!--<li class="nav-item">-->
    <%= link_to "Alert Integrations", alert_integrations_path, class: "nav-link" %>
  <!--</li>-->

  <% if current_user.admin? %>
  <!--<li class="nav-item dropdown">-->
    <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">-->
      <%= link_to "Users", users_path, class: "nav-link" %>
      <%= link_to "Teams", teams_path, class: "nav-link" %>
      <%= link_to "OAuth", authentication_providers_path, class: "nav-link" %>
    <!--</div>-->
  <!--</li>-->
  <% end %>


  <% end %>
