<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>

    <title><%= content_for?(:title) ? yield(:title) : "Chronomancer" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Chronomancer" %>">

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Chronomancer</h3>
          <nav class="nav nav-masthead justify-content-center">
            <%= render 'layouts/navigation_links' %>
            <%= render 'layouts/navigation_search' %>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <div class="container" id="main">
        <%= render 'layouts/messages' %>

        <%= yield %>
        </div><!-- /.container -->
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">

        </div>
      </footer>
    </div>



  </body>
</html>
